@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.main_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.character_image,
.image_not_available {
  width: 17em;
  height: 14em;
  border-radius: 1em 0em 0em 1em;
}

.card_container {
  margin: 1em;
  display: flex;
  flex-direction: row;
  border: solid 1px black;
  border-radius: 1em;
  width: 35em;
  height: 14em;
  background-color: #3c3e43;
}

.card_container:hover {
  cursor: pointer;
}

.name {
  font-weight: 800;
  font-size: 1.3em;
  margin-bottom: 0.4em;
  color: #fff;
}

.article_author {
  font-weight: 800;
  margin-top: 1em;
}

.character_details_content {
  font-size: 1.2em;
  line-height: 2.2rem;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  width: 100%;
}

.character_details {
  margin: 0.8em;
}

.alive {
  color: greenyellow;
  display: flex;
  flex-direction: row;
}

.dead {
  color: red;
  display: flex;
  flex-direction: row;
}

.alive_text {
  color: #fff;
  line-height: 1;
  width: 50%;
  margin-left: 0.2em;
}

.dead_text {
  line-height: 1;
  color: #fff;
  width: 50%;
  margin-left: 0.2em;
}

.type {
  line-height: 1;
  margin-left: 0.1em;
  margin-top: 0.4em;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 900px) {
  .card_container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .character_image,
  .image_not_available {
    width: 180px;
  }
}

.location_title {
  color: rgb(142, 139, 139);
}
.location_text {
  color: white;
}

.location_text:hover {
  color: aquamarine;
}
