* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #19191a;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-right: 2em;
}

.container {
  z-index: 1;
  width: 100%;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  border-bottom: 2px solid aquamarine;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-weight: 800;
}

.activated {
  color: aquamarine;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #19191a;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: aquamarine;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
    height: 2em;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

.user_avatar {
  height: 2.2em;
  margin: 0.4em;
  border-radius: 50px;
  border: 2px solid #fff;
}

.user_avatar:hover {
  height: 2.2em;
  margin: 0.4em;
  border-radius: 50px;
  border: 2px solid aquamarine;
  cursor: pointer;
}

.userName {
  color: white;
  font-weight: 800;
  font-size: 14px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 1em;
}

.logout svg {
  margin-right: 1em;
  color: black !important;
  font-size: 2em;
}

.signup .signup_button {
  height: 2em;
  padding: 0.3em;
  font-weight: 800;
  margin-top: 3em;
  background-color: black;
  color: white;
  border: solid black 1px;
  border-radius: 3em;
  padding: 0.4em;
}

.signup_button:hover {
  cursor: pointer;
}

.logout:hover {
  cursor: pointer;
}
.logout {
  margin: 1.5em 0.6em 0em 0.6em;
  border: solid 0.2em black;
  background-color: white;
  border-radius: 1em;
  font-size: 10px;
  padding: 0.2em;
}

.logout svg {
  /* color: white !important; */
  margin: 0.1em;
}

.login_label {
  color: white;
  margin: 2em;
  font-weight: 800;
}
.login_label:hover {
  cursor: pointer;
  color: aquamarine;
}

.account_details_header {
  font-weight: 800;
}

.account_details_container {
  border: solid black 2px;
  border-radius: 5px;
  /* width: 250px; */
  text-align: center;
  background-color: aquamarine;
  color: black;
  padding: 5px;
  font-weight: 600;
  font-size: 15px;
}

select {
  margin: 1em;
  padding: 0.6em;
  border: solid black 1px;
  border-radius: 2em;
  background-color: black;
  color: white;
  font-weight: 800;
}
